
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <div class="container">
        <div class="card-deck">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="./assets/images/KIDS/muhuratam_pink_indian_round-neck_kurta_suit_sets.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">round neck kurta</h5>
            <p class="card-text"><del>&#8377;700</del>
              <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
               <a href="#" class="btn">Add to Bag</a>
            </div>
        </div>
        <br>
    

    <div class="card" style="width:400px;">
        <img class="card-img-top" src="./assets/images/KIDS/aks_kids_blue_floral_print_lehenga_with_choli_set.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h5 class="card-title">floral print lehenga</h5>
          <p class="card-text"><del>&#8377;700</del>
            <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
            <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
              <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
              <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>                
           <a href="#" class="btn">Add to Bag</a>
          </div>
      </div>
      <br>
  

  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/KIDS/ridokidz_yellow_indian_kurta_set_with_waistcoat.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">kurta set with waistcoat</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
      </div>
  </div>
  <br>
</div>
<br><br>
<!--------------------*************************************************** --------------->
<div class="card-deck">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="./assets/images/KIDS/muhuratam_purple__indian_embellished__kurta_suit_set.webp" alt="Card image" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">embellished kurta suit</h5>
        <p class="card-text"><del>&#8377;700</del>
          <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
          <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
            <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
            <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>              
       <a href="#" class="btn">Add to Bag</a>
      </div>
    </div>
    <br>


<div class="card" style="width:400px;">
    <img class="card-img-top" src="./assets/images/KIDS/jbn_creation_bronze_textured_kurta_dhoti_set.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">kurta dhoti set</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
      </div>
  </div>
  <br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/KIDS/bitiya_by_bhama_blue_button-down_full_sleeves_jacket.webp" alt="Card image" style="width:100%">
<div class="card-body">
    <h5 class="card-title">button down full sleeves jacket</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>
</div>
<br><br>

<!--------------------*************************************************** --------------->
<div class="card-deck">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="./assets/images/KIDS/aarika_girls_ethnic_navy_blue_printed_round-neck_a-line_kurta_.webp" alt="Card image" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">round neck a-line kurta</h5>
        <p class="card-text"><del>&#8377;700</del>
          <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
          <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
            <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
            <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>              
       <a href="#" class="btn">Add to Bag</a>
      </div>
    </div>
    <br>


<div class="card" style="width:400px;">
    <img class="card-img-top" src="./assets/images/KIDS/aks_kids_peach_floral_print_straight_kurta_suit_set.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">straight kurta suit set</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
      </div>
  </div>
  <br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/KIDS/aj_dezines_blue_kurta_pyjama_set_with_button_detail.webp" alt="Card image" style="width:100%">
<div class="card-body">
    <h5 class="card-title">kurta pyjama set</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>
</div>
<br><br>
<!--------------------*************************************************** --------------->
<div class="card-deck">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="./assets/images/KIDS/aj_dezines_pink_solid_kurta-pyjama__&_jacket_set.webp" alt="Card image" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">kurta pyjama & jacket</h5>
        <p class="card-text"><del>&#8377;700</del>
          <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
          <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
            <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
            <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>              
       <a href="#" class="btn">Add to Bag</a>
      </div>
    </div>
    <br>


<div class="card" style="width:400px;">
    <img class="card-img-top" src="./assets/images/KIDS/aks_kids_yellow_floral_print_kurta_suit_set.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">floral print kurta suit</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
      </div>
  </div>
  <br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/KIDS/aarika_girls_ethnic_yellow_colourblock_embroidered_lehenga_choli_with_dupatta_.webp" alt="Card image" style="width:100%">
<div class="card-body">
    <h5 class="card-title">embroidered lehenga choli with dupatta</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/KIDS/biba_pink_floral_embroidered_3-piece_lehenga_choli_with_dupatta.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">lehenga choli with dupatta</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/KIDS/jbn_creation_aqua_solid_kurta_pyjama_set.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">aqua solid kurta pyjama</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/KIDS/aks_kids_beige_kurta_pyjamas_with_printed_jacket.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">kurta pyjamas with printed jacket</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/KIDS/muhuratam_blue_tropical_print_kurta_suit_set.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">tropical print kurta suit</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/KIDS/bani_kids_red_floral_embroidered_a-line_kurta_suit_set.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">floral embroidered a-line kurta</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/KIDS/aj_dezines_yellow_floral_embroidered_lehenga_choli_with_dupatta.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">embroidered lehenga choli</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/KIDS/muhuratam_black_flared_kurta_set_with_bell_sleeves.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">flared kurta set</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/KIDS/bitiya_by_bhama_white_foil_print_kurta_suit_set.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">foil print kurta</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/KIDS/bitiya_by_bhama_yellow_floral_print_kurta_with_bottomwear.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">floral print kurta</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/KIDS/pro-ethic(style_developer)_blue_woven_kurta_pyjama_set.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">woven kurta pyjama</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/KIDS/born_wear_red_woven_pattern_kurta_pyjama_set.jpg" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">woven pattern kurta pyjama</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/KIDS/ltp_red_solid_set.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">red solid set</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/KIDS/nauti_nati_navy_&_white_one-shoulder_top_with_striped_pants.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">one-shoulder top with striped pants</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/KIDS/stylestone_pink_&_white_striped_jumpsuit_with_waist_tie-up_.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">striped jumpsuit with waist tie-up</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/KIDS/foreverkidz_green_embellished_fit_&_flare_dress_with_round-neck.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">flare dress with round-neck</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/KIDS/lewel_yellow_colourblock_cotton_hoodie.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">yellow colourblock cotton hoodie</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/KIDS/rhythm_red_shorts_&_t-shirt_set_with_micro_detail.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">t-shirt set with micro detail</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/KIDS/aks_kids_yellow_floral_print_kurta_suit_set.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">yellow block print long kurta</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>

</div>

</body>
</html>

