
 <br><br>
 <div class="container"> 
    <h1>SHOP BY CATEGORIES</h1>
      <br>
     <!-- ************************************************************************************************** -->
  <!------------------------------ top banner ------------------------------------------>
  <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators" >
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
     <!-- The slideshow -->
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img src="./assets/images/dreamfashionimages/Tops---Jeans_Desk.webp" alt="no img" width="1100" height="300">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/dreamfashionimages/Casual-Wear_Desk.webp" alt="no img" width="1100" height="300">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/dreamfashionimages/K_Winterwear_Dk.webp" alt="no img" width="1100" height="300">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
  <br>
  <!-- *********************************************************************** -->
  <router-outlet></router-outlet>
<!-- ******************************************************************************* -->
  <h1>MEN'S & WOMEN WESTERN WEAR</h1>
  <!----------********************************************************************--------------->
  <div class="container">
    <div class="card-group">
        <div class="card"  >
          <div class="card-body text-center">
           <img src="./assets/images/dreamfashionimages/bhpc-upto50.jpg" alt="no img" width="100%">
           </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
      <img src="./assets/images/dreamfashionimages/rio-upto70.jpg" alt="no img" width="100%">
        </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
          <img src="./assets/images/dreamfashionimages/jeans-trousers.jpg" alt="no img" width="100%">
          </div>
        </div>
    <!-- </div> -->
    <!-- <div class="card-group"> -->
          <div class="card">
            <div class="card-body text-center">
         <img src="./assets/images/dreamfashionimages/fig-upto70.jpg" alt="no img" width=100%>
              </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
            <img src="./assets/images/dreamfashionimages/raymond-min50.jpg" alt="no img" width="100%">
           </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
          <img src="./assets/images/dreamfashionimages/min50.jpg" alt="no img" width="100%">
           </div>
          </div>
        <!-- </div> -->
  </div>
<br>
  <!----------********************************************************************--------------->
  <h1>MEN'S & WOMEN ETHINIC WEAR</h1>
  <br>
  <div class="container">
    <div class="card-group">
        <div class="card"  >
          <div class="card-body text-center">
        <img src="./assets/images/dreamfashionimages/mens-brands.jpg" alt="no img" width="100%">
           </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
         <img src="./assets/images/dreamfashionimages/trending-brands.jpg" alt="no img" width="100%">
        </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
      <img src="./assets/images/dreamfashionimages/exclusive-brands.jpg" alt="no img" width="100%">
        </div>
        </div>
        <!-- </div> -->
        <!-- <div class="card-group" > -->
          <div class="card">
            <div class="card-body text-center">
             <img src="./assets/images/dreamfashionimages/sarees.jpg" alt="no img" width=100%>
              </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
            <img src="./assets/images/dreamfashionimages/kurtasandkurtis.jpg" alt="no img" width="100%">
         </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
        <img src="./assets/images/dreamfashionimages/bestcollection-brands.jpg" alt="no img" width="100%">
           </div>
          </div>
        <!-- </div> -->
        </div>
<br>

<h1>BIG BRANDS FOR LI'L ONES</h1>
<br>
<!-- ************************************************************************************************** -->
<!------------------------------ top banner ------------------------------------------>
<div id="demo" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ul class="carousel-indicators" >
<li data-target="#demo" data-slide-to="0" class="active"></li>
<li data-target="#demo" data-slide-to="1"></li>
<li data-target="#demo" data-slide-to="2"></li>
<li data-target="#demo" data-slide-to="3"></li>

</ul>
<!-- The slideshow -->
<div class="carousel-inner" >
<div class="carousel-item active">
  <img src="./assets/images/dreamfashionimages/bibagirls-3060.webp" alt="no img" width="100%">
</div>
<div class="carousel-item">
  <img src="./assets/images/dreamfashionimages/indianterrainboys-min40.webp" alt="no img" width="100%">
</div>
<div class="carousel-item">
  <img src="./assets/images/dreamfashionimages/max-starting149.webp" alt="no img" width="100%">
</div>
<div class="carousel-item">
    <img src="./assets/images/dreamfashionimages/gini-jony-starting199.webp" alt="no img" width="100%">
  </div>
  
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
<span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
<span class="carousel-control-next-icon"></span>
</a>
</div>
<br>
<!----------********************************************************************--------------->
<h1>KID'S ETHINIC & WESTERN WEAR</h1>
<br>
<div class="container">
  <div class="card-group">
      <div class="card"  >
        <div class="card-body text-center">
        <img src="./assets/images/dreamfashionimages/bownbee-3070.jpg" alt="no img" width="100%">
         </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
    <img src="./assets/images/dreamfashionimages/miniklub-3060.jpg" alt="no img" width="100%">
    </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
  <img src="./assets/images/dreamfashionimages/instafab-min40.webp" alt="no img" width="100%">
      </div>
      </div>
  <!-- </div> -->
  <!-- <div class="card-group"> -->
        <div class="card">
          <div class="card-body text-center">
           <img src="./assets/images/dreamfashionimages/aarika-min60.webp" alt="no img" width=100%>
           </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
          <img src="./assets/images/dreamfashionimages/hopscotch-min30.jpg" alt="no img" width="100%">
           </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
          <img src="./assets/images/dreamfashionimages/tinygirl-min50.webp" alt="no img" width="100%">
         </div>
        </div>
      </div>
<!-- </div> -->
<br>

</div>
