
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <div class="container">
        <div class="card-deck">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="./assets/images/WOMEN/cl-source-hood-women.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <!-- <i class="far fa-heart"></i> -->
            <h5 class="card-title">cl-source-hood</h5>
            <p class="card-text"><del>&#8377;700</del>
              <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
               <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
                <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
                <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
            <a href="#" class="btn">Add to Bag</a>
          </div>
        </div>
        <br>
    

    <div class="card" style="width:400px;">
        <img class="card-img-top" src="./assets/images/WOMEN/vl-tonal-embroidery-entry-tee.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h5 class="card-title">vl-tonal-embroidery-tee</h5>
          <p class="card-text"><del>&#8377;700</del>
            <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
            <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
              <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
              <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        

            <a href="#" class="btn">Add to Bag</a>
        </div>
      </div>
      <br>
  

  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/WOMEN/sportstyle-graphic-boxy-hood.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">sportstyle-graphic-boxy-hood</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        

   <a href="#" class="btn">Add to Bag</a>
      </div>
  </div>
  <br>
</div>
<br><br>
<!--------------------*************************************************** --------------->
<div class="card-deck">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="./assets/images/WOMEN/spirit-puffer-icon-jacket.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">spirit-puffer-icon-jacket</h5>
        <p class="card-text"><del>&#8377;700</del>
          <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
          <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
            <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
            <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
          <a href="#" class="btn">Add to Bag</a>
      </div>
    </div>
    <br>


<div class="card" style="width:400px;">
    <img class="card-img-top" src="./assets/images/WOMEN/sportsstyle-chenille-tee.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">sportsstyle-chenille-tee</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
   <a href="#" class="btn">Add to Bag</a>
      </div>
  </div>
  <br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/WOMEN/superdry-code-logo-che-top.jpg" alt="Card image" style="width:100%">
<div class="card-body">
    <h5 class="card-title">superdry-code-top</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>
</div>
<br><br>

<!--------------------*************************************************** --------------->
<div class="card-deck">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="./assets/images/WOMEN/vl-tonal-emb-hood.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">vl-tonal-emb-hood</h5>
        <p class="card-text"><del>&#8377;700</del>
          <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
          <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
            <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
            <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
       <a href="#" class="btn">Add to Bag</a>
    </div>
    </div>
    <br>


<div class="card" style="width:400px;">
    <img class="card-img-top" src="./assets/images/WOMEN/training-crew.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">training-crew</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
   <a href="#" class="btn">Add to Bag</a>
      </div>
  </div>
  <br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/WOMEN/sportsstyle-crew.jpg" alt="Card image" style="width:100%">
<div class="card-body">
    <h5 class="card-title">sportsstyle-crew</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>
</div>
<br><br>
<!--------------------*************************************************** --------------->
<div class="card-deck">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="./assets/images/WOMEN/sl-emb-sleeve-ziphood-ub.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">sleeve-ziphood-ub</h5>
        <p class="card-text"><del>&#8377;700</del>
          <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
          <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
            <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
            <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
       <a href="#" class="btn">Add to Bag</a>
    </div>
    </div>
    <br>


<div class="card" style="width:400px;">
    <img class="card-img-top" src="./assets/images/WOMEN/la-athletic-ziphood.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">la-athletic-ziphood</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
   <a href="#" class="btn">Add to Bag</a>
      </div>
  </div>
  <br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/WOMEN/cali-surf-classic-crew-neck.jpg" alt="Card image" style="width:100%">
<div class="card-body">
    <h5 class="card-title">classic-bermuda-aop</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/kurtipedia_maroon_floral_print_straight_kurta_set.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">floral straight long kurta</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/kurtipedia_navy_printed_straight_kurta_set.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">navy printed straight kurta</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/stylum_purple_embroidered_round-neck_flared_kurta.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">embroidered round-neck flared kurta</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/divyank_yellow_floral_print_straight_kurta_set_with_embroidery.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">floral print straight kurta</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/divyank_pink_floral_embroidered_straight_kurta_set.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">floral embroidered straight kurta</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/gosriki_green_floral_print_straight_kurta_set_with_dupatta.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">gosriki green floral print</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/aks_couture_green_foil_print_v-neck_anarkali_kurta.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title"> v-neck anarkali kurta</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/kvs_fab_mustard_yellow_embellished_a-line_kurta_set.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">embellished a-line kurta</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/vishnu_weaves_blue_zari_woven_bangalori_raw_silk_saree.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">zari woven bangalori raw silk saree</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/vsaree.com_navy_leaf_woven_traditional_saree.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">leaf woven traditional saree</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/mannequin_store_black_micro_print_traditional_saree.jpg" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">black micro print traditional saree</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/zikaraa_pink_contrast_border_saree_with_blouse.jpg" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">pink contrast border saree with blouse</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/rhey_red_embellished_saree_with_tassels.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">embellished saree with tassels</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/ethnic_junction_red_kanjeevaram_silk_woven_half_and_half_saree_with_blouse_piece.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">kanjeevaram silk woven</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/ethnic_junction_rust_orange_solid_lace_worked_saree_.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">rust orange solid ace worked saree</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/amrutam_fab_grey_printed_woven_saree.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">grey printed woven saree</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/WOMEN/sportsstyle-dolman-rugby-top.jpg" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">sportsstyle dolman rugby top</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/WOMEN/collegiate-ivy-league-tee2.jpg" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">collegiate ivy league tee</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>


</div>

</body>
</html>

