
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <div class="container">
        <div class="card-deck">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="./assets/images/men/classic-london-shirt-red.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">classic-london-shirt</h5>
            <p class="card-text"><del>&#8377;700</del>
             <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
             <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
              <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
              <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>                
              <a href="#" class="btn">Add to Bag</a>
            </div>
        </div>
        <br>
    

    <div class="card" style="width:400px;">
        <img class="card-img-top" src="./assets/images/men/classic-lumberrjack-shirt-blackred.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h5 class="card-title">lumberrjack-shirt</h5>
          <p class="card-text"><del>&#8377;700</del>
            <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
            <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
              <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
              <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>                
           <a href="#" class="btn">Add to Bag</a>
          </div>
      </div>
      <br>
  

  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/men/mearchant-milled-shirt.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">mearchant-milled-shirt</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
      </div>
  </div>
  <br>
</div>
<br><br>
<!--------------------*************************************************** --------------->
<div class="card-deck">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="./assets/images/men/classic-aoe-pique-polo-navy-t-shirt.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">pique-polo-navy</h5>
        <p class="card-text"><del>&#8377;700</del>
          <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
          <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
            <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
            <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>              
       <a href="#" class="btn">Add to Bag</a>
      </div>
    </div>
    <br>


<div class="card" style="width:400px;">
    <img class="card-img-top" src="./assets/images/men/collective-tee.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">collective-tee</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
      </div>
  </div>
  <br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/men/collective-tee-royalblue.jpg" alt="Card image" style="width:100%">
<div class="card-body">
    <h5 class="card-title">collective-tee-royalblue</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>
</div>
<br><br>

<!--------------------*************************************************** --------------->
<div class="card-deck">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="./assets/images/men/mearchant-milled-shirt-red.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">mearchant-milled-shirt</h5>
        <p class="card-text"><del>&#8377;700</del>
          <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
          <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
            <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
            <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>              
       <a href="#" class="btn">Add to Bag</a>
      </div>
    </div>
    <br>


<div class="card" style="width:400px;">
    <img class="card-img-top" src="./assets/images/men/code-sl-essential-hood-yellow.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">essential-hood-yellow</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
      </div>
  </div>
  <br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/men/classic-bermuda-aop-pique-polo-ash.jpg" alt="Card image" style="width:100%">
<div class="card-body">
    <h5 class="card-title">classic-bermuda-aop</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>
</div>
<br><br>
<!--------------------*************************************************** --------------->
<div class="card-deck">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="./assets/images/men/classic-pique-polo-black-t-shirt.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">polo-black-t-shirt</h5>
        <p class="card-text"><del>&#8377;700</del>
          <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
          <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
            <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
            <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>              
       <a href="#" class="btn">Add to Bag</a>
      </div>
    </div>
    <br>


<div class="card" style="width:400px;">
    <img class="card-img-top" src="./assets/images/men/premium-university-shirt-red.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">premium-university-shirt</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
      </div>
  </div>
  <br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/men/orange-label-neon-tee.jpg" alt="Card image" style="width:100%">
<div class="card-body">
    <h5 class="card-title">classic-bermuda-aop</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/t_tabard_grey_floral_woven_long_kurta.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">floral woven long kurta</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/armaan_ethnic_peach__indian_regular_fit_suit_sets.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">indian regular fit suit</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/sojanya_maroon_self-design_straight_kurta_with_mandarin_collar.jpg" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">straight kurta with mandarin collar</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/kisah_plus_white_indian_printed_3-piece_suit_set.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">white indian printed kurta</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/kisah_cream_self-design_sherwani_set.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">cream self design sherwani</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/kisah_maroon__sherwani_set_with_mandarin_collar.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">maroon sherwani with mandarin collar</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/rare_rabbit_brown_nehru_jacket_with_welt_pockets__.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">brown nehru jacket with welt pockets</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/kisah_orange_geometric_print_suit_set.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">orange geometric print suit</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/kisah_black_3-piece_suit_set.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">black 3-piece suit set</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/armaan_ethnic_green_polka-doted_churidar_kurta_pyjama_set.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">doted churidar kurta pyjama</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/sg_rajasahab_peach_textured_sherwani_set.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">peach textured sherwani</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/kisah_peach_embellished_suit_set.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">peach embellished suit</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/kisah_cream_floral_print_nehru_jacket.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">floral print nehru jacket</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/hangup_blue_3_pieces_kurta_set_with_nehru_pocket.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">kurta set with nehru pocket</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/sanwara_maroon_leaf_print_suit_set_with_nehru_jacket.jpg" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">leaf print suit set with nehru jacket</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>
<!-- ************************************************************************************** -->
<div class="card-deck">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/kisah_blue_kurta_with_churidar_&_nehru_jacket.webp" alt="Card image" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">kurta with churidar</h5>
      <p class="card-text"><del>&#8377;700</del>
        <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
        <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
          <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
          <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>            
   <a href="#" class="btn">Add to Bag</a>
    </div>
  </div>
  <br>


<div class="card" style="width:400px;">
  <img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/mag_white_striped_full_sleeves_ethnic_suit_sets.webp" alt="Card image" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">white striped full sleeves</h5>
    <p class="card-text"><del>&#8377;700</del>
      <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
      <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
        <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
        <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>          
<a href="#" class="btn">Add to Bag</a>
    </div>
</div>
<br>


<div class="card" style="width:400px">
<img class="card-img-top" src="./assets/images/ethinic imagesfordreamfashion/even_mustard_yellow_block_print_long_kurta.webp" alt="Card image" style="width:100%">
<div class="card-body">
  <h5 class="card-title">yellow block print long kurta</h5>
  <p class="card-text"><del>&#8377;700</del>
    <strong> &#8377;400</strong>  <span style="color: red;"> 30% off</span> </p>
    <p>  <button (click)='decvalue()'><span style="font-weight: bold;font-size: 20px;"> -</span></button>
      <span style="font-weight: bold;font-size: 20px;">{{count}}</span>
      <button (click)='incvalue()'><span style="font-weight: bold;font-size: 20px;">+</span></button></p>        
<a href="#" class="btn">Add to Bag</a>
  </div>
</div>
<br>
</div>
<br><br>

</div>

</body>
</html>
