.col-12{
    background-color: rgb(221, 218, 9);
    text-align: center;
    border: 8px dashed crimson ;
    font-weight: bold;
}
.card-group{
    max-height: 100%;
    width: 100%;
}
img{
    width: 100%;
    max-height: 100%;
}

h2{
    border: 8px dashed crimson;
    background-color: darkcyan;
    color: rgb(155, 252, 0);
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.carousel .carousel-item img{
    
    height: 450px;
  }
  .card-body img{
    max-height: 700px;
}
.card:hover{
    transform:translateY(10px);
   }