<!-- <p>products works!</p> -->
<br>
<div class="container">
    <div class="small-container">
        <div class="row">
            <div class="col-12">
                <h1>THE ULTIMATE FASHION DESTINATION</h1>
                <p>The hottest brands and styles-all a clickk away!</p>
            </div>
        </div>
    </div>
</div><br><br>
<!-- *************************************************************** -->
<div class="container">
    <div class="card-group">
        <div class="card">
          <div class="card-body text-center">
          <img src="./assets/images/dreamfashionimages/Multistore-Trends.jpg" alt="no img">
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
      <img src="./assets/images/dreamfashionimages/Ajiogold.webp" alt="no img"> 
         </div>
        </div>
        </div>
</div>
<br><br><br>
<!-- ************************************************************************************* -->
<!-- -----------BRAND FRESH ON THE SCENE ------------------------------>
<div class="container">
  <div class="small-container">
      <div class="row">
          <div class="col">
              <h2>BRAND FRESH ON THE SCENE</h2>
          </div>
      </div>
  </div>
</div><br> <br>
<!-- ************************************************************************************************** -->
  <!------------------------------ top banner ------------------------------------------>
  <div class="container">

  <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators" >
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>


    </ul>
     <!-- The slideshow -->
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img src="./assets/images/dreamfashionimages/P1-svrnaa.webp" alt="no img" width="100%" height="400px">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/dreamfashionimages/P2-Altheory.webp" alt="no img" width="100%" height="400px">
      </div>
    </div>
  </div>
  <br><br>
<!-- ************************************************************************************ -->
<div class="container">
  <div class="card-group">
      <div class="card">
        <div class="card-body text-center">
   <img src="./assets/images/dreamfashionimages/Multistore-Indie.jpg" alt="no img">
    </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
      <img src="./assets/images/dreamfashionimages/Kids.webp" alt="no img"> 
       </div>
      </div>
      </div>
</div><br><br>
<!--****************************************************************************************************  -->
<!---------------------- THE COMPLETE BRAND BRIDGE----------------------- -->
<div class="container">
  <div class="small-container">
      <div class="row">
          <div class="col">
              <h2>THE COMPLETE BRAND BRIDGE</h2>
          </div>
      </div>
  </div>
</div><br> <br>
<div class="container">
  <div class="card-group">
      <div class="card">
        <div class="card-body text-center">
      <img src="./assets/images/dreamfashionimages/trends.jpg" alt="no img">
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
       <img src="./assets/images/dreamfashionimages/max.jpg" alt="no img"> 
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
       <img src="./assets/images/dreamfashionimages/indie.jpg" alt="no img"> 
       </div>
      </div>
      </div>
</div><br><br>
<!--****************************************************************************************************  -->
<!----------------------TOP BRANDS ON DISCOUNT----------------------- -->
<div class="container">
  <div class="small-container">
      <div class="row">
          <div class="col">
              <h2>TOP BRANDS ON DISCOUNT</h2>
          </div>
      </div>
  </div>
</div><br> <br>
<div class="container">
  <div class="card-group">
      <div class="card">
        <div class="card-body text-center">
        <img src="./assets/images/dreamfashionimages/avaasa-startingat199.jpg" alt="no img">
       </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
      <img src="./assets/images/dreamfashionimages/uspa-min40.jpg" alt="no img">
       </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
        <img src="./assets/images/dreamfashionimages/allensolly-min40.jpg" alt="no img">
        </div>
      </div>
      </div>
      <div class="card-group">
        <div class="card">
          <div class="card-body text-center">
           <img src="./assets/images/dreamfashionimages/netplay-upto70.jpg" alt="no img">
         </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
          <img src="./assets/images/dreamfashionimages/rarerabbit-upto60.jpg" alt="no img">
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
           <img src="./assets/images/dreamfashionimages/flaunt-raymond-min50.jpg" alt="no img">
           </div>
        </div>
        </div>
</div>

