<div class="container">
    <div class="form">
            <!-- Form -->
    <form class="text-center" style="color: #f8efef;" action="#!">
        
       <h1 class="white-text text-center py-4" style="background-color:rgb(55, 201, 55);"><strong>Contact us</strong></h1>
       <!-- Name -->
       <div class="md-form mt-3">
           <input type="text" id="materialContactFormName" class="form-control">
           <label  class="white-text" for="materialContactFormName">Name</label>
       </div>
   
       <!-- E-mail -->
       <div class="md-form">
           <input type="email" id="materialContactFormEmail" class="form-control">
           <label class="white-text" for="materialContactFormEmail">E-mail</label>
       </div>
   
       <!-- Subject -->
       <div>
           <table>
               <tr>
      <td><label class="white-text" for="s">Subject:</label></td> 
       
     <td> <select class="mdb-select">
           <option value="1" >Choose option</option>
           <option value="2" >Feedback</option>
           <option value="3">Payment related query</option>
           <option value="4">Product related query</option>
       </select></td> 
   </tr>
   </table>
      </div>
   
       <!--Message-->
       <div class="md-form">
           <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
           <label  class="white-text" for="materialContactFormMessage">Message</label>
       </div>
   
       <!-- Copy -->
       <div class="form-check">
           <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
           <label class="form-check-label" for="materialContactFormCopy">Send me a copy of this message</label>
       </div>
   
       <!-- Send button -->
       <button class="btn  btn-rounded" type="submit">Send</button>

   </form>
   <!-- Form -->
</div>
   
   </div>