  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .carousel-inner{
    border: 8px solid rgb(232, 13, 252);
}
  .carousel .carousel-item{
    
    height: 450px;
  }
  .carousel-item img{
      position:absolute;
      /* object-fit:fill; */
      top: 0;
      left: 0;
      min-height: 450px;
  }
  table tr,td {
      cursor: pointer;
  }
  .row .col-6 a img{
      width: 105%;
      height: 100%;
      transition: ease-out;
      -webkit-transition: all .3s ease-in-out;
  }
 img{
  cursor: pointer;
  width: 100%;
}
h2{
  background-color:rgb(12, 197, 166);
  text-align: center;
  border: 8px dashed crimson;
  font-weight: bold;
  padding: 30px;
  color: yellow;
}
.card-group img{
  max-width: 100%;

max-height: 100%;}
.card:hover{
 transform:translateY(10px);
}